@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700i,800,800i');

$main-bkg-color: #563d7c;

%main-font-config {
    font-family:'Open Sans' ,Arial, Helvetica, sans-serif;
}

body {

    background-color: white;
    
    div#app{
        @extend %main-font-config;
        margin: 0px;
        padding: 0px;

        .navbar {
            font-size: 14px;
            background-color: lighten($main-bkg-color, 10%);
            margin-bottom: 30px;

            .navbar-header {

                & .navbar-brand {
                    @extend %main-font-config;
                    color: white;
                    font-size: 30px;
                    font-weight: 600;
                    
                    & .fa{
                        margin-right: 15px;
                    }
                }

            }

            & ul.nav{
                padding-left: 50px;

                & > li {                    
                    margin-right: 10px;
                    font-size: 20px;
                    font-weight: bolder;
    
                    a {
                        @extend %main-font-config;
                        text-decoration: none;
                        color: white;
                        margin-right: 30px;
                    }
                }
            }
        }

        .about {

            & .thumbnail{

                img {
                    width: 100%;
                }

            }

        }
        
        .todo {

            .todo-list {
                margin-top: 30px;

            }

        }

    }
}